<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/scripts/auth.js"></script>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d4f15bd1a4.js" crossorigin="anonymous"></script>
    <body>
  
  <!-- Link to open the modal -->
  <!-- <p><a name="discordModal" href="#discord" rel="modal:open">Open Modal</a></p> -->
        <div class="navbar"><div class="discord">
            <img src="/stylesheet/iconmonstr-discord-1.svg" alt="Discord" draggable="false"> <span style="padding-left: 12px;">Engraved</span></div> </div>

        <div class="error-bar">
            <h2 style="word-wrap: break-word;">OOPS! You weren't supposed to be here.</h2>
            <br>
            <h1 style="font-size: 37px;">401</h1>
            <br>
            <a href="/" style="text-decoration: none; color: white;"><button style="width: 30%; border-radius: 50px; ">Go back</button></a>
        </div>
    </body>
</html>