<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/scripts/auth.js"></script>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar"><div class="discord">
            <i class="fab fa-discord" style="margin: 7px"></i>Engraved</span></div> <div><a href="/dashboard">Dashboard</a></span></div></div>
        <div class="container">
            <div class="main">
                <div class="leftSide">
                    <h1><a href="/dashboard">⚡ Engraved</a></h1>
                    <h2>
                        Log messages from any channel on your Discord server with ease and for free!
                    </h2>
                    <h2>Engraved saves all the messages in a <b>MongoDB</b> database that you can access easily using our panel. We also offer <b>oversights</b> for the messages sent, as we store message date, message and the author.</h2>
                    <h2>All you have to do is invite the Discord Bot to your server and link your Discord account with our service.</h2>
                    <button><i class="fas fa-plus-square" style="margin: 2px"></i> Invite</button>
                </div>
            </div>
        </div>
    </body>
</html>
<style>
    button {
        border-radius: 70px;
        font-family: 'Questrial', sans-serif;
    }
</style>